/* =========================
   CONTACT SECTION
========================= */

.contact-section{
  padding:120px 80px;
  text-align:center;
}


/* TITLE */


/* SUBTITLE */
.contact-subtitle{
  font-size:16px;
  opacity:0.7;

  margin-bottom:50px;
}


/* =========================
   CONTAINER
========================= */

.contact-container{
  display:flex;
  justify-content:center;
}


/* =========================
   FORM CARD
========================= */

.contact-form{
  width:100%;
  max-width:600px;

  padding:30px;

  border-radius:20px;

  background:rgba(255,255,255,0.05);

  border:1px solid rgba(255,255,255,0.08);

  backdrop-filter:blur(15px);

  display:flex;
  flex-direction:column;

  gap:15px;

  box-shadow:0 20px 50px rgba(0,0,0,0.15);
}


/* LIGHT MODE */
body.light .contact-form{
  background:rgba(255,255,255,0.8);
}

/* DARK MODE */
body.dark .contact-form{
  background:rgba(2,6,23,0.4);
}


/* =========================
   INPUTS
========================= */

.contact-form input,
.contact-form textarea{
  width:100%;

  padding:14px;

  border-radius:12px;

  border:1px solid rgba(0,0,0,0.1);

  outline:none;

  font-size:14px;

  transition:0.3s ease;
}


/* DARK INPUTS */
body.dark .contact-form input,
body.dark .contact-form textarea{
  background:rgba(15,23,42,0.6);
  color:white;
  border:1px solid rgba(255,255,255,0.1);
}


/* FOCUS */
.contact-form input:focus,
.contact-form textarea:focus{
  border-color:#2563eb;
  box-shadow:0 0 10px rgba(37,99,235,0.3);
}


/* TEXTAREA */
.contact-form textarea{
  min-height:140px;
  resize:none;
}


/* =========================
   BUTTON
========================= */

.contact-form button{
  padding:14px;

  border:none;

  border-radius:12px;

  background:linear-gradient(
    135deg,
    #2563eb,
    #7c3aed
  );

  color:white;

  font-weight:600;

  cursor:pointer;

  transition:0.3s ease;
}


/* HOVER */
.contact-form button:hover{
  transform:translateY(-3px);
  box-shadow:0 15px 30px rgba(37,99,235,0.3);
}


/* =========================
   RESPONSIVE
========================= */

@media(max-width:900px){

  .contact-section{
    padding:100px 20px;
  }


}