/* =========================
   ABOUT SECTION WRAPPER
========================= */

.about-section{
  padding:0px 80px;
}


/* TITLE */





/* =========================
   CONTAINER
========================= */

.about-container{
  display:flex;
  align-items:center;
  justify-content:space-between;

  gap:80px;
}


/* =========================
   LEFT IMAGE
========================= */

.about-left{
  flex:1;
  display:flex;
  justify-content:center;
}

.image-card{
  width:380px;
  height:450px;

  border-radius:30px;

  overflow:hidden;

  position:relative;

  box-shadow:0 20px 60px rgba(0,0,0,0.15);
}


/* GLOW BACKGROUND */
.image-card::before{
  content:"";

  position:absolute;

  width:300px;
  height:300px;

  background:linear-gradient(
    135deg,
    #2563eb,
    #7c3aed
  );

  filter:blur(60px);

  top:50%;
  left:50%;

  transform:translate(-50%,-50%);

  z-index:0;
}

.image-card img{
  width:100%;
  height:100%;

  object-fit:cover;

  position:relative;
  z-index:2;
}

.name{
   color:#2563eb !important;
}


/* =========================
   RIGHT CONTENT
========================= */

.about-right{
  flex:1;
}


/* NAME */
.name{
  font-size:2.8rem;
  font-weight:800;

  margin-bottom:10px;
}


/* ROLE */
.role{
  font-size:20px;
  color:#3b82f6;

  margin-bottom:25px;
}


/* TEXT */
.text{
  font-size:17px;
  line-height:1.8;

  opacity:0.85;

  margin-bottom:20px;
}


/* =========================
   SKILL TAGS
========================= */

.skills-tags{
  display:flex;
  flex-wrap:wrap;

  gap:10px;

  margin:25px 0;
}

.skills-tags span{
  padding:8px 14px;

  border-radius:20px;

  font-size:13px;
  font-weight:500;

  background:rgba(37,99,235,0.1);

  color:#2563eb;

  border:1px solid rgba(37,99,235,0.2);

  transition:0.3s ease;
}

.skills-tags span:hover{
  transform:translateY(-3px);
  background:#2563eb;
  color:white;
}




/* =========================
   BUTTON
========================= */

.about-btn{
  padding:14px 28px;

  border:none;

  border-radius:12px;

  background:linear-gradient(
    135deg,
    #2563eb,
    #7c3aed
  );

  color:white;

  font-weight:600;

  cursor:pointer;

  transition:0.3s ease;
}

.about-btn:hover{
  transform:translateY(-4px);
  box-shadow:0 15px 30px rgba(37,99,235,0.3);
}


/* =========================
   MOBILE
========================= */

@media(max-width:900px){

  .about-section{
    padding:100px 20px;
  }

  .about-container{
    flex-direction:column;

    text-align:center;
  }

  .image-card{
    width:260px;
    height:320px;
  }

  .skills-tags{
    justify-content:center;
  }

  .name{
    font-size:2rem;
  }
}